[submodule "external/common_backend"]
	path = external/common_backend
	url = https://github.com/RealmOfAesir/common_backend.git
[submodule "external/uWebSockets"]
	path = external/uWebSockets
	url = https://github.com/uWebSockets/uWebSockets.git
[submodule "external/libcuckoo"]
	path = external/libcuckoo
	url = https://github.com/efficient/libcuckoo.git
